@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

:root {
    --color-black: #111;
    --color-white: #FFFFFF;
    --color-charcoal: #363633;
    --color-mud: #6B6358;
    --color-border: #545454;
    --text-dark:#363633;
    --text-light: #FFFFFF; 
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

}

body {
  font-family: 'Outfit', sans-serif;
}

main {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  font-weight: 700;
}


a {
  text-decoration: none;
  background-color: transparent;
  color: inherit;
}



img {
    border: 0;
}

.container-fluid {
  border: 2px solid red;
}

.row {
  border: 2px solid green;
}

.col {
  border: 2px solid blue;
}

#about {
  background: #E2E2E2;
}

.section-title {
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}

.hero-title {
  font-family: Outfit;
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: 102px;
  fill: transparent; 
}

.body-text {
  font-family: Outfit;  
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.quote {
  font-family: Outfit;
  font-style: normal;
  font-weight: 300;
  line-height: 48px; 
}

.footer-text {
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding: 20px 60px;
}

.subheader-text {
  font-family: Outfit;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.about-image { 
  border: 3px solid orange;
}

.about-image img {
  display: block;
  width: 458px; 
  height: 84px; 
}

footer {
  background-color: var(--color-charcoal);
  color: var(--text-light);
}